Repository Azure-Samples/virtual-network-integration-recipes: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/adf-recipe-ci.yml, .azuredevops/pipelines/apim-appgw-recipe-ci.yml, .azuredevops/pipelines/databricks-recipe-ci.yml, .azuredevops/pipelines/event-hub-recipe-ci.yml, .azuredevops/pipelines/private-http-recipe-ci.yml, .azuredevops/pipelines/purview-recipe-ci.yml, .azuredevops/pipelines/synapse-recipe-ci.yml, .azuredevops/pipelines/webapp-private-http-recipe-ci.yml

Path conditions:
  .azuredevops/pipelines/adf-recipe-ci.yml: any of: src/az-datafactory
  .azuredevops/pipelines/apim-appgw-recipe-ci.yml: any of: src/az-webapp-apim-appgw
  .azuredevops/pipelines/databricks-recipe-ci.yml: any of: src/az-databricks
  .azuredevops/pipelines/event-hub-recipe-ci.yml: any of: src/az-func-event-hub
  .azuredevops/pipelines/private-http-recipe-ci.yml: any of: src/az-func-http
  .azuredevops/pipelines/purview-recipe-ci.yml: any of: src/az-purview
  .azuredevops/pipelines/synapse-recipe-ci.yml: any of: src/az-synapse
  .azuredevops/pipelines/webapp-private-http-recipe-ci.yml: any of: src/az-webapp-http

Set path to CI status badge & add two new ones.
  README.md
Due: none

fix: az-purview recipe doc fixes and removing bicep warning from shir.bicep
  src/az-purview/README.md
  src/az-purview/deploy/bicep/shir.bicep
Due: .azuredevops/pipelines/purview-recipe-ci.yml

fix: devcontainer throwing ssh error
  .devcontainer/devcontainer.json
Due: none

Set path to CI status badge & add two new ones. (#4)
  README.md
Due: none

fix: devcontainer throwing ssh error (#7)
  .devcontainer/devcontainer.json
Due: none

Minor fixes to Synapse Recipe
  src/az-synapse/deploy/bicep/synapse.bicep
Due: .azuredevops/pipelines/synapse-recipe-ci.yml

Minor fixes to Synapse Recipe
  src/az-synapse/README.md
Due: .azuredevops/pipelines/synapse-recipe-ci.yml

Databricks documentation update
  src/az-databricks/README.md
  src/az-synapse/README.md
Due: .azuredevops/pipelines/databricks-recipe-ci.yml, .azuredevops/pipelines/synapse-recipe-ci.yml

Attempt to use environment.
  .github/workflows/dotnet-build.yml
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Move env usage to correct workflow.
  .github/workflows/bicep-build.yml
  .github/workflows/dotnet-build.yml
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Attempt at composite actions.
  .github/actions/build-bicep-action.yml
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Checkout code before using action.
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Add tag to action.
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Revert back to reusable workflow as I don't like how comopsite actions work on private repo.
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Use environment for Terraform reusable workflows.
  .github/workflows/event-hub-recipe-ci.yml
  .github/workflows/terraform-build.yml
Due: none

Another attempt to use GitHub environment with composite action.
  .github/actions/build-bicep-action.yml
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Add checkout step.
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Change folder path for composite action.
  .github/actions/build-bicep/action.yml
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Trying to not specify the yaml file name.
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Use inputs for secrets.
  .github/actions/build-bicep/action.yml
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Set tenant and client ID.
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Attempt to use composite action for Terraform steps.
  .github/actions/validate-terraform/action.yml
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Add env to each step for Azure OIDC.
  .github/actions/validate-terraform/action.yml
Due: none

Update descriptions.
  .github/actions/validate-terraform/action.yml
Due: none

Add Terraform lint steps.
  .github/actions/validate-terraform/action.yml
Due: none

Update environment name; Use composite actions.
  .github/actions/validate-bicep/action.yml
  .github/workflows/adf-recipe-ci.yml
  .github/workflows/apim-appgw-recipe-ci.yml
  .github/workflows/databricks-recipe-ci.yml
  .github/workflows/event-hub-recipe-ci.yml
  .github/workflows/private-http-recipe-ci.yml
  .github/workflows/webapp-private-http-recipe-ci.yml
Due: none

Use composite action; Remove old code.
  .github/actions/validate-bicep/action.yml
  .github/workflows/apim-appgw-recipe-ci.yml
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Update ID for step.
  .github/actions/validate-bicep/action.yml
Due: none

Removed step ID (didn't see need yet).
  .github/actions/validate-bicep/action.yml
Due: none

Remove old code.
  .github/workflows/apim-appgw-recipe-ci.yml
Due: none

Set environment varaible for resource location.
  .github/workflows/adf-recipe-ci.yml
Due: none

Set environment varialbe for Azure region.
  .github/workflows/databricks-recipe-ci.yml
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Use env variables for common values.
  .github/workflows/apim-appgw-recipe-ci.yml
  .github/workflows/databricks-recipe-ci.yml
  .github/workflows/event-hub-recipe-ci.yml
  .github/workflows/private-http-recipe-ci.yml
  .github/workflows/webapp-private-http-recipe-ci.yml
Due: none

Setup GitHub environments and composite actions (#15)
  .github/actions/validate-bicep/action.yml
  .github/actions/validate-terraform/action.yml
  .github/workflows/adf-recipe-ci.yml
  .github/workflows/apim-appgw-recipe-ci.yml
  .github/workflows/bicep-build.yml
  .github/workflows/databricks-recipe-ci.yml
  .github/workflows/dotnet-build.yml
  .github/workflows/event-hub-recipe-ci.yml
  .github/workflows/private-http-recipe-ci.yml
  .github/workflows/terraform-build.yml
  .github/workflows/webapp-private-http-recipe-ci.yml
Due: none

Update README.md
  README.md
Due: none

update event hub sample to use func v4
  src/az-func-event-hub/deploy/bicep/main.bicep
  src/common/app_code/eventhub-trigger/EventHubProcessor.cs
  src/common/app_code/eventhub-trigger/eventhub-trigger.csproj
  src/common/infrastructure/bicep/azure-functions.bicep
  src/common/infrastructure/terraform/modules/azure-windows-function/main.tf
Due: .azuredevops/pipelines/event-hub-recipe-ci.yml

add changelog note
  src/az-func-event-hub/README.md
Due: .azuredevops/pipelines/event-hub-recipe-ci.yml

update http sample to use func v4
  src/az-func-http/README.md
  src/az-func-http/deploy/bicep/main.bicep
  src/common/app_code/http-trigger/host.json
  src/common/infrastructure/terraform/modules/azure-linux-function/main.tf
Due: .azuredevops/pipelines/private-http-recipe-ci.yml

revert blank space formatting changes
  src/az-func-event-hub/README.md
  src/az-func-http/README.md
Due: .azuredevops/pipelines/event-hub-recipe-ci.yml, .azuredevops/pipelines/private-http-recipe-ci.yml
