Repository Azure-Samples/virtual-network-integration-recipes: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/adf-recipe-ci.yml, .azuredevops/pipelines/apim-appgw-recipe-ci.yml, .azuredevops/pipelines/databricks-recipe-ci.yml, .azuredevops/pipelines/event-hub-recipe-ci.yml, .azuredevops/pipelines/private-http-recipe-ci.yml, .azuredevops/pipelines/purview-recipe-ci.yml, .azuredevops/pipelines/synapse-recipe-ci-terraform.yml, .azuredevops/pipelines/synapse-recipe-ci.yml, .azuredevops/pipelines/webapp-private-http-recipe-ci.yml

Path conditions:
  .azuredevops/pipelines/adf-recipe-ci.yml: any of: src/az-datafactory
  .azuredevops/pipelines/apim-appgw-recipe-ci.yml: any of: src/az-webapp-apim-appgw
  .azuredevops/pipelines/databricks-recipe-ci.yml: any of: src/az-databricks
  .azuredevops/pipelines/event-hub-recipe-ci.yml: any of: src/az-func-event-hub
  .azuredevops/pipelines/private-http-recipe-ci.yml: any of: src/az-func-http
  .azuredevops/pipelines/purview-recipe-ci.yml: any of: src/az-purview
  .azuredevops/pipelines/synapse-recipe-ci-terraform.yml: any of: src/az-synapse/deploy/terraform
  .azuredevops/pipelines/synapse-recipe-ci.yml: any of: src/az-synapse/deploy/bicep
  .azuredevops/pipelines/webapp-private-http-recipe-ci.yml: any of: src/az-webapp-http

Added ci pipeline for Terraform recipe (for both Bicep & Terraform)
  .github/workflows/purview-recipe-ci.yml
Due: none

Move VSCode customizations. (#29)
  .devcontainer/devcontainer.json
Due: none

Updates various files following PR's comments
  .github/workflows/purview-recipe-ci.yml
  .gitignore
  src/az-purview/README.md
  src/az-purview/deploy/terraform/.tflint.hcl
  src/az-purview/deploy/terraform/deploy.sh
  src/az-purview/deploy/terraform/modules/keyvault/variables.tf
Due: .azuredevops/pipelines/purview-recipe-ci.yml

Removed 'environment' from purview-ci in Bicep
  .github/workflows/purview-recipe-ci.yml
Due: none

Remove unnecessary use of GitHub environment.
  .github/workflows/adf-recipe-ci.yml
  .github/workflows/apim-appgw-recipe-ci.yml
  .github/workflows/databricks-recipe-ci.yml
  .github/workflows/event-hub-recipe-ci.yml
  .github/workflows/private-http-recipe-ci.yml
  .github/workflows/webapp-private-http-recipe-ci.yml
Due: none

Adding reference to terraform deployment
  src/az-synapse/README.md
  src/az-synapse/deploy/terraform/.tflint.hcl
  src/az-synapse/deploy/terraform/README.md
  src/az-synapse/deploy/terraform/deploy.sh
  src/az-synapse/deploy/terraform/locals.tf
  src/az-synapse/deploy/terraform/main.tf
  src/az-synapse/deploy/terraform/modules/key-vault/main.tf
  src/az-synapse/deploy/terraform/modules/key-vault/outputs.tf
  src/az-synapse/deploy/terraform/modules/key-vault/variables.tf
  src/az-synapse/deploy/terraform/modules/private-dns-zones/main.tf
  src/az-synapse/deploy/terraform/modules/private-dns-zones/outputs.tf
  src/az-synapse/deploy/terraform/modules/private-dns-zones/variables.tf
  src/az-synapse/deploy/terraform/modules/storage/main.tf
  src/az-synapse/deploy/terraform/modules/storage/outputs.tf
  src/az-synapse/deploy/terraform/modules/storage/storage-container.json
  src/az-synapse/deploy/terraform/modules/storage/variables.tf
  src/az-synapse/deploy/terraform/modules/synapse/main.tf
  src/az-synapse/deploy/terraform/modules/synapse/outputs.tf
  src/az-synapse/deploy/terraform/modules/synapse/variables.tf
  src/az-synapse/deploy/terraform/modules/virtual-network/main.tf
  src/az-synapse/deploy/terraform/modules/virtual-network/outputs.tf
  src/az-synapse/deploy/terraform/modules/virtual-network/variables.tf
  src/az-synapse/deploy/terraform/modules/vnet-peering/main.tf
  src/az-synapse/deploy/terraform/modules/vnet-peering/variables.tf
  src/az-synapse/deploy/terraform/outputs.tf
  src/az-synapse/deploy/terraform/terraform.tfvars.sample
  src/az-synapse/deploy/terraform/variables.tf
Due: .azuredevops/pipelines/synapse-recipe-ci-terraform.yml

Adding reference to terraform deployment
  src/az-synapse/deploy/terraform/.tflint.hcl
  src/az-synapse/deploy/terraform/README.md
Due: .azuredevops/pipelines/synapse-recipe-ci-terraform.yml

Adding reference to terraform deployment
  src/az-synapse/deploy/terraform/README.md
Due: .azuredevops/pipelines/synapse-recipe-ci-terraform.yml

Upgrade Databricks Recipe
  src/az-databricks/README.md
  src/az-databricks/deploy/bicep/azuredeploy.parameters.sample.json
  src/az-databricks/deploy/bicep/databricks-main.bicep
  src/az-databricks/deploy/bicep/databricks-web-auth.bicep
  src/az-databricks/deploy/bicep/key-vault.bicep
  src/az-databricks/deploy/bicep/main.bicep
  src/az-databricks/deploy/bicep/network.bicep
  src/az-databricks/deploy/bicep/private-endpoint.bicep
  src/az-databricks/deploy/bicep/resource-group.bicep
  src/az-databricks/deploy/bicep/storage.bicep
  src/az-databricks/media/databricks-vnet-architecture.drawio.svg
  src/az-synapse/README.md
Due: .azuredevops/pipelines/databricks-recipe-ci.yml

Add Storage file share app settings; Resolve Bicep lint warnings.
  src/az-func-http/deploy/bicep/main.bicep
  src/common/infrastructure/bicep/azure-functions.bicep
  src/common/infrastructure/bicep/private-storage.bicep
Due: .azuredevops/pipelines/private-http-recipe-ci.yml

Initial commit
  src/az-databricks/deploy/bicep/azuredeploy.parameters.sample.json
  src/az-databricks/deploy/bicep/main.bicep
  src/az-databricks/deploy/bicep/network.bicep
  src/az-databricks/deploy/bicep/resource-group.bicep
  src/az-databricks/deploy/bicep/storage.bicep
Due: .azuredevops/pipelines/databricks-recipe-ci.yml

adding more changes
  src/az-databricks/README.md
  src/az-databricks/media/databricks-vnet-architecture.drawio.svg
Due: .azuredevops/pipelines/databricks-recipe-ci.yml

adding more changes
  src/az-databricks/README.md
  src/az-databricks/deploy/bicep/main.bicep
Due: .azuredevops/pipelines/databricks-recipe-ci.yml

adding more changes
  src/az-databricks/README.md
Due: .azuredevops/pipelines/databricks-recipe-ci.yml

More changes
  src/az-databricks/README.md
  src/az-databricks/deploy/bicep/main.bicep
Due: .azuredevops/pipelines/databricks-recipe-ci.yml

Updating Readme
  src/az-databricks/README.md
Due: .azuredevops/pipelines/databricks-recipe-ci.yml

Updating Readme
  src/az-databricks/README.md
  src/az-databricks/media/correct-login-message.png
  src/az-databricks/media/incorrect-login-message.png
  src/az-databricks/media/requiredNsgRules.png
Due: .azuredevops/pipelines/databricks-recipe-ci.yml

Updating README.md
  src/az-databricks/README.md
  src/az-databricks/deploy/bicep/deploy.sh
  src/az-databricks/deploy/bicep/main.bicep
  src/az-databricks/deploy/bicep/output.json
Due: .azuredevops/pipelines/databricks-recipe-ci.yml

Add Storage file share app settings; Resolve Bicep lint warnings. (#36)
  src/az-func-http/deploy/bicep/main.bicep
  src/common/infrastructure/bicep/azure-functions.bicep
  src/common/infrastructure/bicep/private-storage.bicep
Due: .azuredevops/pipelines/private-http-recipe-ci.yml

Updated Arch Diagram based on Feedback
  src/az-databricks/media/databricks-vnet-architecture.drawio.svg
Due: .azuredevops/pipelines/databricks-recipe-ci.yml

Minor update to ADB recipe
  src/az-databricks/README.md
  src/az-databricks/media/adb-dbfs-access.gif
Due: .azuredevops/pipelines/databricks-recipe-ci.yml

Review comments incorporated
  src/az-databricks/README.md
Due: .azuredevops/pipelines/databricks-recipe-ci.yml

Minor update to ADB recipe (#39)
  src/az-databricks/README.md
  src/az-databricks/media/adb-dbfs-access.gif
Due: .azuredevops/pipelines/databricks-recipe-ci.yml

Adding v0.1 for cognitive search recipe
  src/az-cognitive-search/README.md
  src/az-cognitive-search/deploy/bicep/azuredeploy.parameters.sample.json
  src/az-cognitive-search/deploy/bicep/cognitive-search.bicep
  src/az-cognitive-search/deploy/bicep/deploy.sh
  src/az-cognitive-search/deploy/bicep/key-vault.bicep
  src/az-cognitive-search/deploy/bicep/main.bicep
  src/az-cognitive-search/deploy/bicep/network.bicep
  src/az-cognitive-search/deploy/bicep/storage.bicep
Due: none

Adding bicep files
  src/az-cognitive-search/README.md
  src/az-cognitive-search/deploy/bicep/azure-ai-search.bicep
  src/az-cognitive-search/deploy/bicep/azure-openai.bicep
  src/az-cognitive-search/deploy/bicep/deploy.sh
  src/az-cognitive-search/deploy/bicep/key-vault.bicep
  src/az-cognitive-search/deploy/bicep/main.bicep
  src/az-cognitive-search/deploy/bicep/storage.bicep
Due: none

Taxonomy change for Azure App Service.
  README.md
Due: none

Taxonomy change for Azure App Service. (#41)
  README.md
Due: none

Update recipe-template.md
  docs/recipe-template.md
Due: none

Create architecture_managedvnetworkspace.jpg
  src/az-managed-vnet-workspace/media/architecture_managedvnetworkspace.jpg
Due: none

Delete src/az-managed-vnet-workspace/media/architecture_managedvnetworkspace.jpg
  src/az-managed-vnet-workspace/media/architecture_managedvnetworkspace.jpg
Due: none

Create architecture_managedvnetworkspace
  src/az-managed-vnet-workspace/media/architecture_managedvnetworkspace
Due: none

Delete src/az-managed-vnet-workspace/media/architecture_managedvnetworkspace
  src/az-managed-vnet-workspace/media/architecture_managedvnetworkspace
Due: none

Create test
  src/az-managed-vnet-workspace/test
Due: none

Create test
  src/az-managed-vnet-workspace/media/test
Due: none

Delete test
  src/az-managed-vnet-workspace/test
Due: none
