Repository Azure-Samples/virtual-network-integration-recipes: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/adf-recipe-ci.yml, .azuredevops/pipelines/apim-appgw-recipe-ci.yml, .azuredevops/pipelines/databricks-recipe-ci.yml, .azuredevops/pipelines/event-hub-recipe-ci.yml, .azuredevops/pipelines/private-http-recipe-ci.yml, .azuredevops/pipelines/purview-recipe-ci.yml, .azuredevops/pipelines/synapse-recipe-ci.yml, .azuredevops/pipelines/webapp-private-http-recipe-ci.yml

Path conditions:
  .azuredevops/pipelines/adf-recipe-ci.yml: any of: src/az-datafactory
  .azuredevops/pipelines/apim-appgw-recipe-ci.yml: any of: src/az-webapp-apim-appgw
  .azuredevops/pipelines/databricks-recipe-ci.yml: any of: src/az-databricks
  .azuredevops/pipelines/event-hub-recipe-ci.yml: any of: src/az-func-event-hub
  .azuredevops/pipelines/private-http-recipe-ci.yml: any of: src/az-func-http
  .azuredevops/pipelines/purview-recipe-ci.yml: any of: src/az-purview
  .azuredevops/pipelines/synapse-recipe-ci.yml: any of: src/az-synapse
  .azuredevops/pipelines/webapp-private-http-recipe-ci.yml: any of: src/az-webapp-http

revert csproj change
  src/common/app_code/eventhub-trigger/eventhub-trigger.csproj
Due: none

Update README.md (#16)
  README.md
Due: none

Remove PR trigger; Update Contributing guidance to include link to workflow runs.
  .github/workflows/adf-recipe-ci.yml
  .github/workflows/apim-appgw-recipe-ci.yml
  .github/workflows/databricks-recipe-ci.yml
  .github/workflows/event-hub-recipe-ci.yml
  .github/workflows/private-http-recipe-ci.yml
  .github/workflows/webapp-private-http-recipe-ci.yml
  CONTRIBUTING.md
Due: none

Update base image for dev container.
  .devcontainer/Dockerfile
Due: none

Update GitHub Actions workflows and AzDO pipelines to .NET 6; Update WeatherForecast API to .NET 6.
  .azuredevops/pipelines/templates/dotnet-build.yml
  .github/workflows/apim-appgw-recipe-ci.yml
  .github/workflows/event-hub-recipe-ci.yml
  .github/workflows/webapp-private-http-recipe-ci.yml
  src/common.props
  src/common/app_code/WeatherForecastAPI/Controllers/WeatherForecastController.cs
  src/common/app_code/WeatherForecastAPI/Program.cs
  src/common/app_code/WeatherForecastAPI/WeatherForecastAPI.csproj
  src/common/app_code/eventhub-trigger/eventhub-trigger.csproj
Due: none

Remove local IP.
  src/az-func-event-hub/deploy/terraform/main.tf
  src/az-func-http/deploy/terraform/main.tf
Due: .azuredevops/pipelines/event-hub-recipe-ci.yml, .azuredevops/pipelines/private-http-recipe-ci.yml

Change approach for vnet integration.
  src/az-func-event-hub/deploy/terraform/main.tf
  src/az-func-http/deploy/terraform/main.tf
  src/az-webapp-apim-appgw/deploy/terraform/main.tf
  src/az-webapp-http/deploy/terraform/main.tf
  src/common/infrastructure/terraform/modules/azure-app-service/main.tf
  src/common/infrastructure/terraform/modules/azure-app-service/variables.tf
  src/common/infrastructure/terraform/modules/azure-linux-function/main.tf
  src/common/infrastructure/terraform/modules/azure-linux-function/variables.tf
  src/common/infrastructure/terraform/modules/azure-windows-function/main.tf
  src/common/infrastructure/terraform/modules/azure-windows-function/variables.tf
Due: .azuredevops/pipelines/apim-appgw-recipe-ci.yml, .azuredevops/pipelines/event-hub-recipe-ci.yml, .azuredevops/pipelines/private-http-recipe-ci.yml, .azuredevops/pipelines/webapp-private-http-recipe-ci.yml

Issue/5/support funcv4 (#17)
  .azuredevops/pipelines/templates/dotnet-build.yml
  .devcontainer/Dockerfile
  .github/workflows/apim-appgw-recipe-ci.yml
  .github/workflows/event-hub-recipe-ci.yml
  .github/workflows/webapp-private-http-recipe-ci.yml
  src/az-func-event-hub/README.md
  src/az-func-event-hub/deploy/bicep/main.bicep
  src/az-func-http/README.md
  src/az-func-http/deploy/bicep/main.bicep
  src/common.props
  src/common/app_code/WeatherForecastAPI/Controllers/WeatherForecastController.cs
  src/common/app_code/WeatherForecastAPI/Program.cs
  src/common/app_code/WeatherForecastAPI/WeatherForecastAPI.csproj
  src/common/app_code/eventhub-trigger/EventHubProcessor.cs
  src/common/app_code/eventhub-trigger/eventhub-trigger.csproj
  src/common/app_code/http-trigger/host.json
  src/common/infrastructure/bicep/azure-functions.bicep
  src/common/infrastructure/terraform/modules/azure-linux-function/main.tf
  src/common/infrastructure/terraform/modules/azure-windows-function/main.tf
Due: .azuredevops/pipelines/event-hub-recipe-ci.yml, .azuredevops/pipelines/private-http-recipe-ci.yml

Set virtual network id to enable vnet integration.
  src/az-func-event-hub/deploy/terraform/main.tf
  src/az-func-http/deploy/terraform/main.tf
  src/az-webapp-apim-appgw/deploy/terraform/main.tf
  src/az-webapp-http/deploy/terraform/main.tf
  src/common/infrastructure/terraform/modules/azure-app-service/main.tf
  src/common/infrastructure/terraform/modules/azure-app-service/variables.tf
  src/common/infrastructure/terraform/modules/azure-linux-function/main.tf
  src/common/infrastructure/terraform/modules/azure-linux-function/variables.tf
  src/common/infrastructure/terraform/modules/azure-windows-function/main.tf
  src/common/infrastructure/terraform/modules/azure-windows-function/variables.tf
Due: .azuredevops/pipelines/apim-appgw-recipe-ci.yml, .azuredevops/pipelines/event-hub-recipe-ci.yml, .azuredevops/pipelines/private-http-recipe-ci.yml, .azuredevops/pipelines/webapp-private-http-recipe-ci.yml

Update vnet integration params.
  src/az-func-event-hub/deploy/terraform/main.tf
  src/az-func-http/deploy/terraform/main.tf
  src/common/infrastructure/terraform/modules/azure-linux-function/main.tf
  src/common/infrastructure/terraform/modules/azure-linux-function/variables.tf
  src/common/infrastructure/terraform/modules/azure-windows-function/main.tf
  src/common/infrastructure/terraform/modules/azure-windows-function/variables.tf
Due: .azuredevops/pipelines/event-hub-recipe-ci.yml, .azuredevops/pipelines/private-http-recipe-ci.yml

Temp remove the cache.
  .github/actions/validate-terraform/action.yml
Due: none

Change the cache key and dir.
  .github/actions/validate-terraform/action.yml
Due: none

Adjust GitHub SHA variable.
  .github/actions/validate-terraform/action.yml
Due: none

temp remove checkout step.
  .github/actions/validate-terraform/action.yml
Due: none

temp remove checkout step.
  .github/actions/validate-bicep/action.yml
Due: none

Remove unnecessary checkout step.
  .github/actions/validate-bicep/action.yml
  .github/actions/validate-terraform/action.yml
Due: none

Remove steps requiring Azure login.
  .github/actions/validate-bicep/action.yml
  .github/actions/validate-terraform/action.yml
  .github/workflows/event-hub-recipe-ci.yml
  .github/workflows/terraform-build.yml
  .github/workflows/terraform-lint.yml
Due: none

Adjust env var.
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Adjust env var again.
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Trying again.
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Change env var for bicep output.
  .github/workflows/event-hub-recipe-ci.yml
Due: none

again
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Try temp dir again.
  .github/workflows/event-hub-recipe-ci.yml
Due: none

Set default for Bicep build output; Use updated actions.
  .github/actions/validate-bicep/action.yml
  .github/workflows/private-http-recipe-ci.yml
Due: none

Use updated actions.
  .github/workflows/adf-recipe-ci.yml
  .github/workflows/apim-appgw-recipe-ci.yml
  .github/workflows/databricks-recipe-ci.yml
  .github/workflows/event-hub-recipe-ci.yml
  .github/workflows/webapp-private-http-recipe-ci.yml
Due: none

Break build intentially - will revert.
  src/az-func-event-hub/deploy/bicep/main.bicep
Due: .azuredevops/pipelines/event-hub-recipe-ci.yml

Revert "Break build intentially - will revert."
  src/az-func-event-hub/deploy/bicep/main.bicep
Due: .azuredevops/pipelines/event-hub-recipe-ci.yml

Add GitHub PR extension to dev container.
  .devcontainer/devcontainer.json
Due: none

Remove unused env var and environment.
  .github/workflows/adf-recipe-ci.yml
  .github/workflows/apim-appgw-recipe-ci.yml
  .github/workflows/bicep-build.yml
  .github/workflows/ci.yml
  .github/workflows/databricks-recipe-ci.yml
  .github/workflows/event-hub-recipe-ci.yml
  .github/workflows/private-http-recipe-ci.yml
  .github/workflows/webapp-private-http-recipe-ci.yml
Due: none

Use GitHub environment variable instead of context equivalent.
  .github/actions/validate-terraform/action.yml
Due: none

Use context env variables.
  .github/actions/validate-bicep/action.yml
  .github/actions/validate-terraform/action.yml
Due: none

Add missing closing brace.
  .github/actions/validate-bicep/action.yml
Due: none

Initial version
  .gitignore
  src/az-purview/deploy/terraform/.tflint.hcl
  src/az-purview/deploy/terraform/deploy.sh
  src/az-purview/deploy/terraform/locals.tf
  src/az-purview/deploy/terraform/main.tf
  src/az-purview/deploy/terraform/modules/keyvault/main.tf
  src/az-purview/deploy/terraform/modules/keyvault/output.tf
  src/az-purview/deploy/terraform/modules/keyvault/variables.tf
  src/az-purview/deploy/terraform/modules/private-dns-zones/main.tf
  src/az-purview/deploy/terraform/modules/private-dns-zones/output.tf
  src/az-purview/deploy/terraform/modules/private-dns-zones/variables.tf
  src/az-purview/deploy/terraform/modules/purview/main.tf
  src/az-purview/deploy/terraform/modules/purview/output.tf
  src/az-purview/deploy/terraform/modules/purview/variables.tf
  src/az-purview/deploy/terraform/modules/storage/main.tf
  src/az-purview/deploy/terraform/modules/storage/output.tf
  src/az-purview/deploy/terraform/modules/storage/variables.tf
  src/az-purview/deploy/terraform/modules/virtual-network/main.tf
  src/az-purview/deploy/terraform/modules/virtual-network/output.tf
  src/az-purview/deploy/terraform/modules/virtual-network/variables.tf
  src/az-purview/deploy/terraform/outputs.tf
  src/az-purview/deploy/terraform/terraform.tfvars.sample
  src/az-purview/deploy/terraform/variables.tf
Due: .azuredevops/pipelines/purview-recipe-ci.yml

Adding Synapse Terraform Recipe
  .azuredevops/pipelines/synapse-recipe-cd-terraform.yml
  .azuredevops/pipelines/synapse-recipe-ci-terraform.yml
  .azuredevops/pipelines/synapse-recipe-ci.yml
  .azuredevops/pipelines/templates/terraform-build.yml
  .azuredevops/pipelines/templates/terraform-deploy.yml
  .azuredevops/pipelines/variables/synapse-recipe-terraform.yml
  src/az-synapse/media/hub-resources.png
  src/az-synapse/media/synapse-cicd-terraform.png
  src/az-synapse/terraform/.tflint.hcl
  src/az-synapse/terraform/README.md
  src/az-synapse/terraform/deploy.sh
  src/az-synapse/terraform/locals.tf
  src/az-synapse/terraform/main.tf
  src/az-synapse/terraform/modules/key-vault/main.tf
  src/az-synapse/terraform/modules/key-vault/outputs.tf
  src/az-synapse/terraform/modules/key-vault/variables.tf
  src/az-synapse/terraform/modules/private-dns-zones/main.tf
  src/az-synapse/terraform/modules/private-dns-zones/outputs.tf
  src/az-synapse/terraform/modules/private-dns-zones/variables.tf
  src/az-synapse/terraform/modules/storage/main.tf
  src/az-synapse/terraform/modules/storage/outputs.tf
  src/az-synapse/terraform/modules/storage/storage-container.json
  src/az-synapse/terraform/modules/storage/variables.tf
  src/az-synapse/terraform/modules/synapse/main.tf
  src/az-synapse/terraform/modules/synapse/outputs.tf
  src/az-synapse/terraform/modules/synapse/variables.tf
  src/az-synapse/terraform/modules/virtual-network/main.tf
  src/az-synapse/terraform/modules/virtual-network/outputs.tf
  src/az-synapse/terraform/modules/virtual-network/variables.tf
  src/az-synapse/terraform/modules/vnet-peering/main.tf
  src/az-synapse/terraform/modules/vnet-peering/variables.tf
  src/az-synapse/terraform/outputs.tf
  src/az-synapse/terraform/terraform.tfvars.sample
  src/az-synapse/terraform/variables.tf
Due: .azuredevops/pipelines/synapse-recipe-ci.yml

Refact, iso with the Bicep version
  src/az-purview/deploy/terraform/main.tf
  src/az-purview/deploy/terraform/modules/keyvault/main.tf
  src/az-purview/deploy/terraform/modules/purview/output.tf
  src/az-purview/deploy/terraform/modules/storage/main.tf
  src/az-purview/deploy/terraform/modules/storage/variables.tf
  src/az-purview/deploy/terraform/modules/virtual-network/main.tf
Due: .azuredevops/pipelines/purview-recipe-ci.yml

Remove Azure login requirement from CI workflows (#24)
  .devcontainer/devcontainer.json
  .github/actions/validate-bicep/action.yml
  .github/actions/validate-terraform/action.yml
  .github/workflows/adf-recipe-ci.yml
  .github/workflows/apim-appgw-recipe-ci.yml
  .github/workflows/bicep-build.yml
  .github/workflows/ci.yml
  .github/workflows/databricks-recipe-ci.yml
  .github/workflows/event-hub-recipe-ci.yml
  .github/workflows/private-http-recipe-ci.yml
  .github/workflows/terraform-build.yml
  .github/workflows/terraform-lint.yml
  .github/workflows/webapp-private-http-recipe-ci.yml
Due: none

Update virtual network integration for Terraform recipes. (#23)
  src/az-func-event-hub/deploy/terraform/main.tf
  src/az-func-http/deploy/terraform/main.tf
  src/az-webapp-apim-appgw/deploy/terraform/main.tf
  src/az-webapp-http/deploy/terraform/main.tf
  src/common/infrastructure/terraform/modules/azure-app-service/main.tf
  src/common/infrastructure/terraform/modules/azure-app-service/variables.tf
  src/common/infrastructure/terraform/modules/azure-linux-function/main.tf
  src/common/infrastructure/terraform/modules/azure-linux-function/variables.tf
  src/common/infrastructure/terraform/modules/azure-windows-function/main.tf
  src/common/infrastructure/terraform/modules/azure-windows-function/variables.tf
Due: .azuredevops/pipelines/apim-appgw-recipe-ci.yml, .azuredevops/pipelines/event-hub-recipe-ci.yml, .azuredevops/pipelines/private-http-recipe-ci.yml, .azuredevops/pipelines/webapp-private-http-recipe-ci.yml

Move VSCode customizations.
  .devcontainer/devcontainer.json
Due: none

Added deployment howto in README.md
  src/az-purview/README.md
Due: .azuredevops/pipelines/purview-recipe-ci.yml
